.directory {
    height: 100%;
    padding-top: 5px;

    .wrap {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    .choice {
        width: 50%;
        float: left;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
