.header {
    height: 65px;
    box-shadow: 0 2px 3px 1px rgb(18, 8, 156);

    .wrap {
        position: relative;
        max-width: 1300px;
        height: 100%;
        margin: 0 auto;
    }
}
.logo img {
    height: 65px;
    width: 100px;
}

.logo {
    padding-left: 122px;
    padding-top: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 80px;
}

.menu-bg .logo {
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
