.header {
    height: 65px;
    box-shadow: 0 2px 3px 1px rgb(18, 8, 156);

    .wrapper {
        position: relative;
        max-width: 1500px;
        height: 100%;
        margin: 0 auto;

        .logo {
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            width: 100px;

            img {
                display: block;
                width: 100%;
                margin: 0;
                height: 65px;
            }
        }
        .signuplink {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            ui,
            ul {
                margin: 0;
                padding: 0;
            }
            li {
                list-style-type: none;
                a {
                    font-size: 20px;
                    line-height: 1;
                    color: rgb(7, 185, 96);
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}
